<nw-sidebar></nw-sidebar>
<div class="page-container">
  <nw-topbar></nw-topbar>
  <main class='main-content bgc-grey-300' data-ng-controller="UserAddController">
    <div id='mainContent row'>
      <div class="content-title mT-60">
        <div class="ml-1 mb-3">
          <h1>Add a new User / Referee</h1>
        </div>
      </div>

      <div class=" gap-30 masonry pos-r">
        <!-- #content container ===== -->
        <div class="masonry-sizer "></div>

        <div class="masonry-item  w-100">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li ng-class="{active: isSet(1)} ">
              <a href class="nav-link active" role="button" ng-click="setTab(1)" data-toggle="tab">Regular User</a>
            </li>
            <li ng-class="{active: isSet(2)} ">
              <a href class="nav-link" role="button" ng-click="setTab(2)" data-toggle="tab">Referee</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content create-new-user-tab">
            <div class="tab tab-pane tab-new-user container active" ng-show="isSet(1)">
              <div class="create-new-user-tab">
                <!--Regular user-->
                <div class="card card-new-user">
                  <div class="user-data-title">
                    <img class="user-update-img" src="assets/static/images/user-update.png" alt="">
                    <div class="testo">
                      <h5>New User</h5>
                    </div>
                  </div>
                  <div class="card-body-profile">
                    <div class="profile-forms">
                      <form>
                        <div class="row ">
                          <div class="col-4 profile-form-row">
                            <h9 class="">First Name</h9>
                            <input type="text" class="form-control" data-ng-model="user.personal.first_name"
                              placeholder="First name" required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Middle Name</h9>
                            <input type="text" class="form-control" data-ng-model="user.personal.middle_name"
                              placeholder="Middle name" required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Last Name</h9>
                            <input type="text" class="form-control" data-ng-model="user.personal.last_name" placeholder="Last name"
                              required>
                          </div>
                        </div>

                        <div class="row ">
                          <div class="col-4 profile-form-row">
                            <h9 class="">Email Address</h9>
                            <input type="text" class="form-control" data-ng-model="user.email" placeholder="Email"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Phone Number</h9>
                            <input type="text" class="form-control" placeholder="Phone" data-ng-model="user.personal.phone"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">State</h9>
                            <select class="form-control" data-ng-model="user.personal.state" required>
                              <option selected>VIC</option>
                              <option>SA</option>
                              <option>WA</option>
                              <option>NSW</option>
                              <option>QLD</option>
                              <option>TAS</option>
                            </select>
                          </div>
                        </div>

                        <div class="row ">
                          <div class="col-4 profile-form-row">
                            <h9 class="">Nationality</h9>
                            <select ng-model="user.personal.nationality" name="nationality" class="form-control"
                              required>
                              <option value="">-- select one --</option>
                              <option value="afghan">Afghan</option>
                              <option value="albanian">Albanian</option>
                              <option value="algerian">Algerian</option>
                              <option value="american">American</option>
                              <option value="andorran">Andorran</option>
                              <option value="angolan">Angolan</option>
                              <option value="antiguans">Antiguans</option>
                              <option value="argentinean">Argentinean</option>
                              <option value="armenian">Armenian</option>
                              <option value="australian">Australian</option>
                              <option value="austrian">Austrian</option>
                              <option value="azerbaijani">Azerbaijani</option>
                              <option value="bahamian">Bahamian</option>
                              <option value="bahraini">Bahraini</option>
                              <option value="bangladeshi">Bangladeshi</option>
                              <option value="barbadian">Barbadian</option>
                              <option value="barbudans">Barbudans</option>
                              <option value="batswana">Batswana</option>
                              <option value="belarusian">Belarusian</option>
                              <option value="belgian">Belgian</option>
                              <option value="belizean">Belizean</option>
                              <option value="beninese">Beninese</option>
                              <option value="bhutanese">Bhutanese</option>
                              <option value="bolivian">Bolivian</option>
                              <option value="bosnian">Bosnian</option>
                              <option value="brazilian">Brazilian</option>
                              <option value="british">British</option>
                              <option value="bruneian">Bruneian</option>
                              <option value="bulgarian">Bulgarian</option>
                              <option value="burkinabe">Burkinabe</option>
                              <option value="burmese">Burmese</option>
                              <option value="burundian">Burundian</option>
                              <option value="cambodian">Cambodian</option>
                              <option value="cameroonian">Cameroonian</option>
                              <option value="canadian">Canadian</option>
                              <option value="cape verdean">Cape Verdean</option>
                              <option value="central african">Central African</option>
                              <option value="chadian">Chadian</option>
                              <option value="chilean">Chilean</option>
                              <option value="chinese">Chinese</option>
                              <option value="colombian">Colombian</option>
                              <option value="comoran">Comoran</option>
                              <option value="congolese">Congolese</option>
                              <option value="costa rican">Costa Rican</option>
                              <option value="croatian">Croatian</option>
                              <option value="cuban">Cuban</option>
                              <option value="cypriot">Cypriot</option>
                              <option value="czech">Czech</option>
                              <option value="danish">Danish</option>
                              <option value="djibouti">Djibouti</option>
                              <option value="dominican">Dominican</option>
                              <option value="dutch">Dutch</option>
                              <option value="east timorese">East Timorese</option>
                              <option value="ecuadorean">Ecuadorean</option>
                              <option value="egyptian">Egyptian</option>
                              <option value="emirian">Emirian</option>
                              <option value="equatorial guinean">Equatorial Guinean</option>
                              <option value="eritrean">Eritrean</option>
                              <option value="estonian">Estonian</option>
                              <option value="ethiopian">Ethiopian</option>
                              <option value="fijian">Fijian</option>
                              <option value="filipino">Filipino</option>
                              <option value="finnish">Finnish</option>
                              <option value="french">French</option>
                              <option value="gabonese">Gabonese</option>
                              <option value="gambian">Gambian</option>
                              <option value="georgian">Georgian</option>
                              <option value="german">German</option>
                              <option value="ghanaian">Ghanaian</option>
                              <option value="greek">Greek</option>
                              <option value="grenadian">Grenadian</option>
                              <option value="guatemalan">Guatemalan</option>
                              <option value="guinea-bissauan">Guinea-Bissauan</option>
                              <option value="guinean">Guinean</option>
                              <option value="guyanese">Guyanese</option>
                              <option value="haitian">Haitian</option>
                              <option value="herzegovinian">Herzegovinian</option>
                              <option value="honduran">Honduran</option>
                              <option value="hungarian">Hungarian</option>
                              <option value="hung-kong">Hong Kong</option>
                              <option value="icelander">Icelander</option>
                              <option value="indian">Indian</option>
                              <option value="indonesian">Indonesian</option>
                              <option value="iranian">Iranian</option>
                              <option value="iraqi">Iraqi</option>
                              <option value="irish">Irish</option>
                              <option value="israeli">Israeli</option>
                              <option value="italian">Italian</option>
                              <option value="ivorian">Ivorian</option>
                              <option value="jamaican">Jamaican</option>
                              <option value="japanese">Japanese</option>
                              <option value="jordanian">Jordanian</option>
                              <option value="kazakhstani">Kazakhstani</option>
                              <option value="kenyan">Kenyan</option>
                              <option value="kittian and nevisian">Kittian and Nevisian</option>
                              <option value="kuwaiti">Kuwaiti</option>
                              <option value="kyrgyz">Kyrgyz</option>
                              <option value="laotian">Laotian</option>
                              <option value="latvian">Latvian</option>
                              <option value="lebanese">Lebanese</option>
                              <option value="liberian">Liberian</option>
                              <option value="libyan">Libyan</option>
                              <option value="liechtensteiner">Liechtensteiner</option>
                              <option value="lithuanian">Lithuanian</option>
                              <option value="luxembourger">Luxembourger</option>
                              <option value="macedonian">Macedonian</option>
                              <option value="malagasy">Malagasy</option>
                              <option value="malawian">Malawian</option>
                              <option value="malaysian">Malaysian</option>
                              <option value="maldivan">Maldivan</option>
                              <option value="malian">Malian</option>
                              <option value="maltese">Maltese</option>
                              <option value="marshallese">Marshallese</option>
                              <option value="mauritanian">Mauritanian</option>
                              <option value="mauritian">Mauritian</option>
                              <option value="mexican">Mexican</option>
                              <option value="micronesian">Micronesian</option>
                              <option value="moldovan">Moldovan</option>
                              <option value="monacan">Monacan</option>
                              <option value="mongolian">Mongolian</option>
                              <option value="moroccan">Moroccan</option>
                              <option value="mosotho">Mosotho</option>
                              <option value="motswana">Motswana</option>
                              <option value="mozambican">Mozambican</option>
                              <option value="namibian">Namibian</option>
                              <option value="nauruan">Nauruan</option>
                              <option value="nepalese">Nepalese</option>
                              <option value="new zealander">New Zealander</option>
                              <option value="ni-vanuatu">Ni-Vanuatu</option>
                              <option value="nicaraguan">Nicaraguan</option>
                              <option value="nigerien">Nigerien</option>
                              <option value="north korean">North Korean</option>
                              <option value="northern irish">Northern Irish</option>
                              <option value="norwegian">Norwegian</option>
                              <option value="omani">Omani</option>
                              <option value="pakistani">Pakistani</option>
                              <option value="palauan">Palauan</option>
                              <option value="panamanian">Panamanian</option>
                              <option value="papua new guinean">Papua New Guinean</option>
                              <option value="paraguayan">Paraguayan</option>
                              <option value="peruvian">Peruvian</option>
                              <option value="polish">Polish</option>
                              <option value="portuguese">Portuguese</option>
                              <option value="qatari">Qatari</option>
                              <option value="romanian">Romanian</option>
                              <option value="russian">Russian</option>
                              <option value="rwandan">Rwandan</option>
                              <option value="saint lucian">Saint Lucian</option>
                              <option value="salvadoran">Salvadoran</option>
                              <option value="samoan">Samoan</option>
                              <option value="san marinese">San Marinese</option>
                              <option value="sao tomean">Sao Tomean</option>
                              <option value="saudi">Saudi</option>
                              <option value="scottish">Scottish</option>
                              <option value="senegalese">Senegalese</option>
                              <option value="serbian">Serbian</option>
                              <option value="seychellois">Seychellois</option>
                              <option value="sierra leonean">Sierra Leonean</option>
                              <option value="singaporean">Singaporean</option>
                              <option value="slovakian">Slovakian</option>
                              <option value="slovenian">Slovenian</option>
                              <option value="solomon islander">Solomon Islander</option>
                              <option value="somali">Somali</option>
                              <option value="south african">South African</option>
                              <option value="south korean">South Korean</option>
                              <option value="spanish">Spanish</option>
                              <option value="sri lankan">Sri Lankan</option>
                              <option value="sudanese">Sudanese</option>
                              <option value="surinamer">Surinamer</option>
                              <option value="swazi">Swazi</option>
                              <option value="swedish">Swedish</option>
                              <option value="swiss">Swiss</option>
                              <option value="syrian">Syrian</option>
                              <option value="taiwanese">Taiwanese</option>
                              <option value="tajik">Tajik</option>
                              <option value="tanzanian">Tanzanian</option>
                              <option value="thai">Thai</option>
                              <option value="togolese">Togolese</option>
                              <option value="tongan">Tongan</option>
                              <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                              <option value="tunisian">Tunisian</option>
                              <option value="turkish">Turkish</option>
                              <option value="tuvaluan">Tuvaluan</option>
                              <option value="ugandan">Ugandan</option>
                              <option value="ukrainian">Ukrainian</option>
                              <option value="uruguayan">Uruguayan</option>
                              <option value="uzbekistani">Uzbekistani</option>
                              <option value="venezuelan">Venezuelan</option>
                              <option value="vietnamese">Vietnamese</option>
                              <option value="welsh">Welsh</option>
                              <option value="yemenite">Yemenite</option>
                              <option value="zambian">Zambian</option>
                              <option value="zimbabwean">Zimbabwean</option>
                            </select>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Visa Type</h9>
                            <select id="inputVisa" class="form-control" ng-model="user.personal.visa" ng-options="visa.name group by visa.type for visa in visas"
                              required>
                              <option value="">Other visa...</option>
                              <option value="" selected>Choose visa...</option>
                            </select>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Language (Select one or more)</h9>
                            <select id="inputLanguage" class="form-control" ng-model="user.personal.language"
                              data-placeholder="Choose a Language..." required>
                              <option value="AF">Afrikanns</option>
                              <option value="SQ">Albanian</option>
                              <option value="AR">Arabic</option>
                              <option value="HY">Armenian</option>
                              <option value="EU">Basque</option>
                              <option value="BN">Bengali</option>
                              <option value="BG">Bulgarian</option>
                              <option value="CA">Catalan</option>
                              <option value="KM">Cambodian</option>
                              <option value="ZH">Chinese</option>
                              <option value="HR">Croation</option>
                              <option value="CS">Czech</option>
                              <option value="DA">Danish</option>
                              <option value="NL">Dutch</option>
                              <option value="EN" selected>English</option>
                              <option value="ET">Estonian</option>
                              <option value="FJ">Fiji</option>
                              <option value="FI">Finnish</option>
                              <option value="FR">French</option>
                              <option value="KA">Georgian</option>
                              <option value="DE">German</option>
                              <option value="EL">Greek</option>
                              <option value="GU">Gujarati</option>
                              <option value="HE">Hebrew</option>
                              <option value="HI">Hindi</option>
                              <option value="HU">Hungarian</option>
                              <option value="IS">Icelandic</option>
                              <option value="ID">Indonesian</option>
                              <option value="GA">Irish</option>
                              <option value="IT">Italian</option>
                              <option value="JA">Japanese</option>
                              <option value="JW">Javanese</option>
                              <option value="KO">Korean</option>
                              <option value="LA">Latin</option>
                              <option value="LV">Latvian</option>
                              <option value="LT">Lithuanian</option>
                              <option value="MK">Macedonian</option>
                              <option value="MS">Malay</option>
                              <option value="ML">Malayalam</option>
                              <option value="MT">Maltese</option>
                              <option value="MI">Maori</option>
                              <option value="MR">Marathi</option>
                              <option value="MN">Mongolian</option>
                              <option value="NE">Nepali</option>
                              <option value="NO">Norwegian</option>
                              <option value="FA">Persian</option>
                              <option value="PL">Polish</option>
                              <option value="PT">Portuguese</option>
                              <option value="PA">Punjabi</option>
                              <option value="QU">Quechua</option>
                              <option value="RO">Romanian</option>
                              <option value="RU">Russian</option>
                              <option value="SM">Samoan</option>
                              <option value="SR">Serbian</option>
                              <option value="SK">Slovak</option>
                              <option value="SL">Slovenian</option>
                              <option value="ES">Spanish</option>
                              <option value="SW">Swahili</option>
                              <option value="SV">Swedish </option>
                              <option value="TA">Tamil</option>
                              <option value="TT">Tatar</option>
                              <option value="TE">Telugu</option>
                              <option value="TH">Thai</option>
                              <option value="BO">Tibetan</option>
                              <option value="TO">Tonga</option>
                              <option value="TR">Turkish</option>
                              <option value="UK">Ukranian</option>
                              <option value="UR">Urdu</option>
                              <option value="UZ">Uzbek</option>
                              <option value="VI">Vietnamese</option>
                              <option value="CY">Welsh</option>
                              <option value="XH">Xhosa</option>
                            </select>
                          </div>
                        </div>

                        <div class="row ">
                          <div class="col-4 profile-form-row">
                            <h9 class="">Education</h9>
                            <input type="text" class="form-control" ng-model="user.personal.education" placeholder=""
                              required>
                          </div>
                        </div>

                        <div class="row mT-6">

                          <div class="col-4 profile-form-row">
                            <h9 class="card-title mt-6 mr-4">Main Classification:</h9>
                            <input type="text" class="form-control" placeholder="Industry" data-ng-model="user.personal.main_classification"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="card-title mt-6 mr-4">Skills:</h9>
                            <input type="text" class="form-control" placeholder="Preofessions" data-ng-model="user.personal.skills"
                              required>
                          </div>
                        </div>
                        <div class="row mT-6">
                          <div class="col-4  profile-form-row">
                            <h9 class="card-title mt-6 mr-4">Password:</h9>
                            <input type="password" class="form-control" placeholder="****" data-ng-model="user.personal.password"
                              required>
                          </div>
                          <div class="col-4  profile-form-row">
                            <h9 class="card-title mt-6 mr-4">Confirm Password</h9>
                            <input type="password" class="form-control" placeholder="Repete password" required>
                          </div>
                        </div>

                        <div class="row ">
                          <div class=" profile-form-row">
                            <button type="submit" class="btn btn-gradient ">UPDATE</button>
                            <button type="reset" class="btn btn-border ">CANCEL</button>
                          </div>

                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab tab-pane container active" ng-show="isSet(2)">
              <div class="create-new-user-tab">
                <!--Referee-->
                <div class="card card-new-user">
                  <div class="user-data-title">
                    <img class="user-update-img" src="assets/static/images/user-update.png" alt="">
                    <div class="testo">
                      <h5>New Referee</h5>
                    </div>
                  </div>
                  <div class="card-body-profile">
                    <div class="profile-forms">
                      <form>
                        <div class="row ">
                          <div class="col-4 profile-form-row">
                            <h9 class="">Name</h9>
                            <input type="text" class="form-control" placeholder="Name" data-ng-model="user.name"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Business Type</h9>
                            <input type="text" class="form-control" placeholder="Type of Business" data-ng-model="user.referee.type"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">ABN</h9>
                            <input type="text" class="form-control" placeholder="ABN" data-ng-model="user.referee.abn"
                              required>
                          </div>
                        </div>

                        <div class="row ">
                          <div class="col-4 profile-form-row">
                            <h9 class="">Email Address</h9>
                            <input type="text" class="form-control" placeholder="Email" data-ng-model="user.email"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Phone Number</h9>
                            <input type="text" class="form-control" placeholder="Phone Number" data-ng-model="user.referee.phone"
                              required>
                          </div>
                          <div class="col-4 profile-form-row">
                            <h9 class="">Website</h9>
                            <input type="text" class="form-control" placeholder="Website" data-ng-model="user.referee.website"
                              required>
                          </div>
                        </div>


                        <div class="row">
                          <div class="form-group col-md-4 profile-form-row">
                            <h9 class="">Address</h9>
                            <input type="text" class="form-control" placeholder="Address" data-ng-model="user.referee.address"
                              required>
                          </div>
                          <div class="form-group col-md-4 profile-form-row">
                            <h9 class="">City</h9>
                            <input type="text" class="form-control" placeholder="City" data-ng-model="user.referee.city"
                              required>
                          </div>
                          <div class="form-group col-md-2 profile-form-row">
                            <h9 class="">State</h9>
                            <select class="form-control" data-ng-model="user.personal.state" data-ng-model="user.referee.state"
                              required>
                              <option selected>VIC</option>
                              <option>SA</option>
                              <option>WA</option>
                              <option>NSW</option>
                              <option>QLD</option>
                              <option>TAS</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2 profile-form-row">
                            <h9 class="">Zip</h9>
                            <input type="text" class="form-control" placeholder="Post Code" data-ng-model="user.referee.postcode"
                              required>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12 profile-form-row">
                            <h9 class="">Description</h9>
                            <textarea class="company-description" name="story" rows="5">{{user.referee.bio}}</textarea>
                          </div>
                        </div>
                        <div class="row ">
                          <div class="col-3 profile-form-row">
                            <h9 class="">Twitter</h9>
                            <input type="text" class="form-control" placeholder="Twitter" data-ng-model="user.referee.twitter">
                          </div>
                          <div class="col-3 profile-form-row">
                            <h9 class="">Facebook</h9>
                            <input type="text" class="form-control" placeholder="Facebook" data-ng-model="user.referee.facebook">
                          </div>
                          <div class="col-3 profile-form-row">
                            <h9 class="">Instagram</h9>
                            <input type="text" class="form-control" placeholder="Instagram" data-ng-model="user.referee.instagram">
                          </div>
                          <div class="col-3 profile-form-row">
                            <h9 class="">Linkedin</h9>
                            <input type="text" class="form-control" placeholder="Linkedin" data-ng-model="user.referee.linkedin">
                          </div>
                        </div>

                        <div class="row mT-6">
                          <div class="col-4  profile-form-row">
                            <h9 class="card-title mt-6 mr-4">Password:</h9>
                            <input type="password" class="form-control" placeholder="****" data-ng-model="user.referee.password"
                              required>
                          </div>
                          <div class="col-4  profile-form-row">
                            <h9 class="card-title mt-6 mr-4">Confirm Password</h9>
                            <input type="password" class="form-control" placeholder="Repete password" required>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-gradient ">CREATE REFEREE</button>
                        <button type="reset" class="btn btn-border ">CANCEL</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--content container-->
  </main>
  <nw-footer></nw-footer>
</div>
