// ----------------------------------------------------------
// @Placeholder
// ----------------------------------------------------------

@mixin placeholder {
  &::input-placeholder { @content; }
  &:placeholder { @content; }
  &::placeholder { @content; }
  &:input-placeholder { @content; }
}
